.userblock {
  margin-bottom: 1rem;
}

.or {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#leave {
  display: none;
  margin-top: 1rem;
}

#others {
  display: flex;
  flex-wrap: wrap;
}

.session-id {
  font-size: 0.75rem;
}
.username {
  font-size: 1rem;
}
